<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h5>Last month, I went to Disney World with @Model.FriendsName1. We
      traveled for @Model.NumberOfHours by @Model.Vehicle. Finally, we
      arrived and it was very @Model.Adjective1. There were
      @Model.Adjective2 people @Model.IngVerb everywhere. There
      were also people dressed up in @Model.Animal costumes.</h5>

      <h5>I wish it had been more @Model.Adjective3, but we @Model.PastTenseVerb1 anyway. We also went on a(n) @Model.Adjective4 ride
      called Magic @Model.Noun1. @Model.FriendsName2 nearly fell off a ride and had to be @Model.PastTenseVerb2. Later, we went to the hotel and @Model.PastTenseVerb3. Next year, I want to go to @Model.Place,
      where we can @Model.Verb1.</h5>
    </div>
  </body>
</html>