<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <h2>Here is your Madlib story</h2>
      <br>
        <h4 style="line-height: 30px">When I go to the arcade with my <em><strong>@Model.PluralNoun1</strong></em> there are lots of games to play. I spend lots of time there with my friends. In the game X-Men you can be different <em><strong>@Model.PluralNoun2</strong></em>. The point of the game is to <em><strong>@Model.Verb1</strong></em> every robot. You also need to save people. Then you can go to the next level. In the game Star Wars you are Luke Skywalker and you try to destroy every <em><strong>@Model.Noun1</strong></em>. In a car racing/motorcycle racing game you need to beat every computerized vehicle that you are <em><strong>@Model.IngVerb</strong></em> against. There are a whole lot of other cool games. When you play some games you win <em><strong>@Model.PluralNoun3</strong></em> for certain scores. Once you're done you can cash in your tickets to get a big <em><strong>@Model.Noun2</strong></em>. You can save your <em><strong>@Model.PluralNoun4</strong></em> for another time. When I went to this arcade I didn't believe how much fun it would be. So far I have had a lot of fun every time I've been to this great arcade! </h4>
    </div>
  </body>
</html
